body {
  background-color: #BFD7ED;
  margin: 0;
}

/* text sizes */
p, h1, h2, h3 {
  color: #003B73;
  font-family: Sans-serif;
  margin-left: 180px;
}

h2 {
  margin-top: 70px;
}

h4, h5{
  color: #003B73;
  font-size: 30px;
  font-family: Cursive;
}

h6{
  color: #003B73;
  font-size: 15px;
  font-family: Cursive;
}

/* Topbar */
.header { 
  width: 100%;
  height: 50px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: 10;
  background-color: #003B73;
}

/* top bar images */
.header img {
  padding: 5px;
  z-index: 10;
}


.cart {
  position: absolute;
  top: 5px;
  right: 10px;
  position: fixed;
  z-index: 15;
}

/* The sidebar */
.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0074B7; 
  overflow-x: hidden; 
  padding-top: 20px;
  font-family: Fantasy; 
}

.sidenav a {
  margin-top: 25px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #003B73;
  display: block;
  text-shadow: 2px 2px 1px #B1B2F0;
}

.sidenav a:hover, a:focus {
  color: #B1B2F0;
  text-shadow: 2px 2px 1px #003B73;
}

/* product info */
.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  max-width: 100%;
}

.product-card {
  flex: 1 16%;
  margin: 4%;
  max-width: 300px;
  max-height: 500px;
}

.product-image img {
  max-width: 300px;
}

.product-info {
  margin: 1px;
  max-width: 300px;
}

/* social images */
.logo {
  margin-left: 170px;
  max-width: 40px;
  max-height: 40px;
  padding: 30px;
  /* border:2px solid red; */
}

/* view item button */
.button {
  background-color: #0074B7;
  color: #003B73;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: Cursive;
  border-radius: 20px;
}


.button:hover {
  background-color: #003B73;
  color: #0074B7;
}

.show_button{
  background-color: #0074B7;
  color: #003B73;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: Cursive;
  border-radius: 20px;
}
.show_button:hover{
  background-color: #003B73;
  color: #0074B7;
}

/* back button */
.backbutton {
  background-color: #0074B7;
  color: #003B73;
  padding: 6px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10x;
  font-family: Cursive;
  border-radius: 15px;
}
.backbutton:hover{
  background-color: #003B73;
  color: #0074B7;
}

/* transparent gray in alert box */
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* item info alert box */
.alert_box{
  padding: 30px;
  display: flex;
  position: fixed;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 50%;
  border-radius: 10px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -75%) scale(0.97);
  margin-left: 35%;
  z-index: 1000;
}
#check:checked ~ .alert_box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -75%) scale(1);
  transition: all 0.3s ease;
  z-index: 1000;
}
#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}
#check{
  display: none;
}
.alert_box .icon{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #f23b26;
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}

.alert_box .button{
  margin-top: 20px;
}

/* colors: https://www.canva.com/colors/color-palettes/speckled-eggs/ */


/* fonts: Sans-serif, Cursive */

