<!doctype html>

<head>
	<title>About me</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="header">
		<a target="https://massivetrimmetadata.siv904.repl.co/static/Shopping%20cart.png" href="/">
			<img src="https://yt3.ggpht.com/a/AATXAJwkUO1O4uzkoUQHbxO0P_Ztuz7Yk3p8uAGGWQ=s900-c-k-c0xffffffff-no-rj-mo" width="40px"height="40px">
    </a>
  </div>

  <div class="cart">
    <a target="https://massivetrimmetadata.siv904.repl.co/static/Shopping%20cart.png" href="/cart/">
    <img src="https://massivetrimmetadata.siv904.repl.co/static/Shopping%20cart.png" href="/cart/" width="40px"height="40px">
    </a>
  </div>
  
  <a href="https://www.twitch.tv/Siv904"><img src="static/twitch-logo.jpg"></img></a>
  <a href="https://www.youtube.com/channel/UCQ3w8zGDCDore-hpu2mkinQ">Youtube</a>
  <a href="https://twitter.com/siv904">Twitter</a>
  <a href="https://instagram.com/siv_yt">Instagram</a>

  <h2>HEY THIS IS SIV'S WEBSITE HEHEHE
  </h2>

  <div class= "text">

  	<p>I don't know what I want to do on this website yet
    </p>

    <br><br><br>

    <h3>I WANNA MAKE A MERCH WEBSITE SO STAY TUNED</h3>
  
      <p>(I'm still <strong>trying</strong> to learn this stuff)
      </p>
  </div>



</body>

  <div class="sidenav">
    <a href="/">Shop</a>
    <a href="/FAQ/">FAQ</a>
    <a href="/about/">About me</a>
  </div>

</html>