<!doctype html>
<head>
	<title>Siv's website </title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
        <a target="static/Shopping cart.png" href="/">
    <img src="https://yt3.ggpht.com/a/AATXAJwkUO1O4uzkoUQHbxO0P_Ztuz7Yk3p8uAGGWQ=s900-c-k-c0xffffffff-no-rj-mo" width="40px"height="40px">
    </a>
  </div>

  <div class="cart">
    <a target="static/Shopping cart.png" href="/cart/">
    <img src="static/Shopping cart.png" href="/cart/" width="40px"height="40px">
    </a>
  </div>

    <h2>HEY THIS IS SIV'S WEBSITE HEHEHE
    </h2>

  <div class= "text">

  	  <p>I don't know what I want to do on this website yet
      </p>

    <br><br><br>

    <h3>I WANNA MAKE A MERCH WEBSITE SO STAY TUNED</h3>
  
      <p>(I'm still <strong>trying</strong> to learn this stuff)
      </p>
  </div>


</body>

<section class="products">


  <div class="sidenav">
    <a href="/shop/">Shop</a>
    <a href="/about-me/">About me</a>
  </div>

  <div class="product-card">
    <div class="product-image">
      <img src="static/test 1 hoodie.jpg">
    </div>
    <div class="product-info">
      <h4>Test hoodie #1</h4>
      <h5>$9999.99</h5>
    </div>
  </div>

  <div class="product-card">
    <div class="product-image">
      <img src="static/test 2 hoodie.jpg">
    </div>
    <div class="product-info">
      <h6>Test hoodie #2</h6>
      <h7>$99999999.99</h7>
    </div>
  </div>

  <div class="product-card">
    <div class="product-image">
      <img src="static/test 3 hoodie.jpg">
    </div>
    <div class="product-info">
      <h8>Test hoodie #3</h8>
      <h9>$99999999999.99</h9>
    </div>
  </div>

</section>
</html>