<!doctype html>
<head>
	<title>Siv's website </title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
        <a target="static/Shopping cart.png" href="/">
    <img src="https://yt3.ggpht.com/a/AATXAJwkUO1O4uzkoUQHbxO0P_Ztuz7Yk3p8uAGGWQ=s900-c-k-c0xffffffff-no-rj-mo" width="40px"height="40px">
    </a>
  </div>

  <div class="cart">
    <a target="static/Shopping cart.png" href="/cart/">
    <img src="static/Shopping cart.png" href="/cart/" width="40px"height="40px">
    </a>
  </div>
  
  <div class="sidenav">
    <a href="/shop/">Shop</a>
    <a href="/about-me/">About me</a>
  </div>
